.leaderboard {
    color: white;
    margin: 10px 30px 30px 30px;
    @media only screen and(max-width: $break-medium){
        margin: 10px 0px 30px 0px;
    }
    h1{
        font-size: 2rem;
    }
    
}

.summonerInfo {
    font-size: 1rem;
}

.summonerSearch {
    display: flex;
    &__input {
        padding: 5px;
        height: 30px;
        width: 200px;
    }

    &__button {
        padding: 5px;
        text-transform: uppercase;
        color: white;
        background-color: $button-color;
        border: none;
        width: 50px;
        cursor: pointer;
        transition: background-color .3s;

        &:hover {
            background-color: #59777D;
        }
        i{
            margin-top: 2px;
            margin-left: 2px;
        }
    }
}

.challenger {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1.5fr repeat(4, 1fr);
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #333;
    @media only screen and(max-width: $break-medium){
        grid-template-columns: .8fr 1.5fr repeat(4, 1fr);
    }

    &__span{
        font-size: .9rem;
        justify-self: center;

        @media only screen and(max-width: $break-medium){
            font-size: .8rem;
        }

        &--leftAlign {
            justify-self: flex-start;
            margin-left: 15px;
        }
    }

    &__profile {
        display: flex;
        align-items: center;
        margin-left: 10px;

        @media only screen and(max-width: $break-medium){
            font-size: .8rem;
            margin-left: 3px;
            flex-direction: column;
            justify-items: center;
        }

        img{
            width: 48px;
            height: 48px;
            border-radius: 50%;

            @media only screen and(max-width: $break-medium){
                width: 32px;
                height: 32px;
            }
        }

        span {
            font-size: .9rem;
            margin-left: 15px;

            @media only screen and(max-width: $break-medium){
                font-size: .8rem;
                margin-left: 0;
            }
        }
    }
}

.challengers {
    display: flex;
    flex-direction: column;

    &--white {
        margin: 20px 0;
        padding: 0 5px 0 5px;
        color: #111;
        background-color: white;
        border-radius: 7px;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
    }
}