.recipe {

    &__guide {
      display: flex;
      align-items: center;
      padding: 10px 30px 0 30px;
      margin: 10px 10px 0 10px;
      color: white;
      font-size: 1rem;

      @media only screen and(max-width: $break-medium){
        font-size: .8rem;
      }
    }
  
    &__button {
      margin-left: 20px;
      padding: 10px 20px;
      border-radius: 8px;
      background-color: transparent;
      border: 2px solid $button-color;
      color: $button-color;
      cursor: pointer;
      font-size: 1.2rem;
      display: inline-block;
      font-family: Roboto;
      transition: all ease-in-out .2s;
  
      &:hover {
        color: white;
        background-color: #148e9e;
      }
    }
    &__layout {
      @media only screen and(max-width: $break-medium){
        flex-direction: column;
        margin: 10px;
        padding: 10px;
      }
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 10px 30px 30px 30px;
      padding: 30px;
      border: solid 1px $secondary-color;
    }
    &__items {
    
      margin: 20px 10px;
      @media only screen and(max-width: $break-medium){
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(52px, 1fr));
        grid-template-rows: min-content;
        grid-gap: 1rem;
        justify-items: center;
        width: 100%;
        margin: 20px 0;
      }
      &--round {
        border-radius: 50%;
        width: 52px;
        margin-left: 15px;
        margin-top: 15px;
        cursor: pointer;
        @media only screen and(max-width: $break-medium){
          margin-left: 0;
        }
        @media only screen and(max-width: $break-small){
          width: 48px;
        }
      }
    }
  
    &__box {
      display: flex;
      align-items: center;
      margin: 20px 0;
  
      i {
        color: $secondary-color;
        font-size: 48px;
      }
      @media only screen and(max-width: $break-small) {
        i {
          font-size: 36px;
        }
      }
      &--item {
  
        @media only screen and(max-width: $break-small){
          width: 54px;
          height: 54px;
          margin: 0 7px;
  
          img {
            width: 54px;
            height: 54px;
          }
        }
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: $primary-color-light;
        margin: 0 10px;
  
        img {
          border-radius: 50%;
        }
  
      }
  
      &--combined {
        border-radius: 10px;
  
        img {
          border-radius: 10px;
        }
      }
    }
  }
  